<h1>Rpg#Index</h1>
<p>Find me in app/views/rpg/index.html.erb</p>

<div id="wrapper">
    <label for ="your_gold"> Your Gold:</label>
    <input type="number" name="your_gold" disabled value=<%=session[:gold]%>>

    <div id="farm_method">
        <h3><strong>Farm</strong></h3>
        <p> (earns 10-20 golds)</p>
        <br>
        <form action="/farm" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <button name="submit" type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="methods">
        <h3><strong>Cave</strong></h3>
        <p> (earns 5-10 golds)</p>
        <br>
        <form action="/cave" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <button name="submit" type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="methods">
        <h3><strong>House</strong></h3>
        <p> (earns 2-5 golds)</p>
        <br>
        <form action="/house" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <button name="submit" type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="methods">
        <h3><strong>Casino</strong></h3>
        <p> (earns/takes 0-50 golds)</p>
        <br>
        <form action="/casino" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <button name="submit" type="submit">Find Gold!</button>
        </form>
    </div>
    <div id="activities"> 
        Activities:
        <% if session[:activities]!=nil %>
            <%# <p><%=session[:activities]%>
            <%# </p> %>
            <p> <% session[:activities].split("\n").each do |t| %>
                    <%= t %>
                    <br>
                <% end %>
            <%# <%= safe_join(session[:activities].textarea_input.split("\r\n"), "<br />".html_safe) %>
            <%# </p> %>
        <%end%>
    </div>
</div>